@use '../../../../shared/ui/index.scss';
@include index.main_text();
@include index.input();

.profile {
    &__infoitem {
        display: flex;
        flex-direction: row;
        margin-bottom: 26px;
    }

    &__info {
        font-weight: 500;
    }
}