@use '../../../shared/ui/index.scss';
@include index.main_text();
@include index.input();

$red: #D83A3A;

.profile {
    &__mainbox {
        display: flex;
        justify-content: center;
    }

    &__imagebox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__imagebox > img {
        margin-bottom: 10px;
        width: 140px;
        border-radius: 2px;
    }

    &__infobox {
        margin: 10px 0 0 32px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__image_buttons {
        display: flex;
    }

    &__image_button {
        background: none;
        border: none;
        padding-top: 3px;
        cursor: pointer;

        &:first-child {
            margin: 0 10px 2px 0;
        }
    }

    &__image_button > img {
        width: 20px;
    }

    &__button_delete {
        background: none;
        border: none;
        color: $red;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 5%;
        cursor: pointer;
    }
}