$background_menu: #252525;

.menu {
  &__wrapper {
    position: fixed;
  }

  &__button {
    margin: 20px 0 0 32px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__button_close {
    background: none;
    border: none;
    cursor: pointer;
  }
}