@import '../../../../styles/mixins';
@include title;
@include main_text;

$light_gray: #E6E6E6;
$middle_gray: #6D6D6D;
$dark_gray: #252525;

.pros {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 22%;
    }

    &__wrapper > h3 {
        margin: 20px 0 18px 0;
    }
}