@use '../../../../../shared/ui/index.scss';
@include index.title();
@include index.main_text();

.pros {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 22%;
    }

    &__wrapper > h3 {
        margin: 20px 0 18px 0;
    }
}