@use "../../styles/index.scss";

$background_menu: #252525;

.menu__content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background_menu;
    width: 312px;
    height: 98vh;
    padding: 10px;
    overflow-y: hidden;
    display: none;
}

.menu__content.active {
    display: flex;
    z-index: 999;
}

.menu {
    &__wrapper {
        padding: 20px 0 0 32px;
        width: 100%;
    }

    &__topline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    &__topline_info {
        display: flex;
    }

    &__button_close {
        background: none;
        border: none;
        cursor: pointer;
    }

    &__username {
        word-break: break-all;
        color: index.$light_gray;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 5%;
        margin: 0 10px 0 6px;
    }

    &__userimage {
        max-width: 24px;
        max-height: 24px;
        border-radius: 2px;
    }

    &__list {
        list-style-type: none;
        padding-left: 8px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__item > a:hover {
        color: index.$light_gray;
        transition: color 0.3s ease;
    }

    &__item > button:hover {
        color: index.$light_gray;
        transition: color 0.3s ease;
    }

    &__item > a:active {
        color: index.$middle_gray;
        transition: color 0.3s ease;
    }

    &__item > button:active {
        color: index.$middle_gray;
        transition: color 0.3s ease;
    }

    &__item:nth-child(3) {
        margin-bottom: 32px;
    }

    &__item > img {
        width: 16px;
    }

    &__item > a,
    &__item > button {
        color: index.$middle_gray;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 5%;
        margin-left: 6px;
    }

    &__item > button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}