@use '../../../shared/ui/index.scss';
@include index.container();
@include index.title();
@include index.main_text();

.feedback {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        text-align: center;
        margin: 138px auto 0 auto;
    }

    &__table {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0 34px 0;
    }

    &__table_topline {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 15px 10px;
    }

    &__table_topline > th {
        font-weight: 500;
    }

    &__table_topline > th {
        width: 15%;
    }

    &__table_topline > th:nth-child(1) {
        width: 5%;
    }

    &__table_topline > th:nth-child(3) {
        width: 50%;
    }
}