@import '../../../shared/ui/index.scss';
@include container;
@include plask;
@include title;
@include main_text;
@include button_light;

$light_gray: #E6E6E6;
$middle_gray: #6D6D6D;
$dark_gray: #252525;

.welcome {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 66%;
        text-align: center;
        margin: 138px auto 0 auto;
    }

    &__wrapper > h3 {
        margin: 28px 0 20px 0;
    }

    &__link {
        color: $light_gray;
    }

    &__mainbox {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    &__itembox {
        width: 45%;
    }

    &__itembox > h3 {
        margin: 0 0 20px 0;
    }

    &__itembox > a {
        padding: 11px 57px;
    }

    &__tasks,
    &__goals {
        display: flex;
        flex-direction: column;
        padding: 0 97px;
        margin-bottom: 43px;
    }

    &__tasks::after {
        position: absolute;
        margin: 42px 0 0 164px;
        content: url('../assets/images/welcome_arrow.svg');
    }

    &__tasks > div > button {
        display: none;
    }

    &__task_listbox,
    &__goal_listbox {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    &__goal_listbox {
        margin-bottom: 40px;
    }

    &__task_list,
    &__goal_list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__goal_list > a {
        color: $light_gray;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 12px;
    }

    &__task_listbox > h4,
    &__goal_listbox > h4 {
        font-size: 24px;
        margin-bottom: 28px;
        color: $middle_gray;
    }

    &__itembox > h5 {
        margin: 28px 0 16px 0;
        font-weight: 500;
    }

    &__bottom {
        color: $middle_gray;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 5%;
        margin: 20vh 0 60px 0;
    }

    &__bottom_link {
        color: $middle_gray;
    }
}