@use '../../../shared/ui/index.scss';
@include index.title();
@include index.main_text();
@include index.button_light();

.welcome {
    &__wrapper {
        max-width: 67%;
    }

    &__link {
        color: index.$light_gray;
    }

    &__mainbox {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        flex: 1;
    }

    &__itembox {
        width: 36%;
    }

    &__itembox>h3 {
        margin: 0 0 20px 0;
    }

    &__itembox>a {
        padding: 11px 57px;
    }

    &__tasks,
    &__goals {
        display: flex;
        flex-direction: column;
        padding: 0 67px;
        margin-bottom: 53px;
    }

    &__tasks::after {
        position: absolute;
        margin: 42px 0 0 164px;
        content: url('../assets/images/welcome_arrow.svg');
    }

    &__tasks>div>button {
        display: none;
    }

    &__task_listbox,
    &__goal_listbox {
        display: flex;
        justify-content: space-around;
        margin-bottom: 32px;
    }

    &__goal_listbox {
        margin-bottom: 40px;
    }

    &__task_list,
    &__goal_list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__goal_list>a {
        color: index.$light_gray;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 12px;
    }

    &__task_listbox>h4,
    &__goal_listbox>h4 {
        font-size: 14px;
        margin-bottom: 28px;
        color: index.$middle_gray;
    }

    &__itembox>h5 {
        margin: 28px 0 16px 0;
        font-weight: 500;
    }

    &__bottom {
        color: index.$middle_gray;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 5%;
        margin: calc(50vh - 138px) 0 60px 0;
    }

    &__bottom_link {
        color: index.$middle_gray;
    }
}