@use '../../../shared/ui/index.scss';
@include index.container();
@include index.plask();
@include index.title();
@include index.main_text();
@include index.button_light();

.admin {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 66%;
        text-align: center;
        margin: 138px auto 0 auto;
    }

    &__wrapper > h3 {
        margin: 28px 0 20px 0;
    }

    &__mainbox {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    &__regbox {
        display: flex;
        justify-content: space-between;
    }

    &__itembox {
        width: 45%;
    }

    &__itembox > p {
        margin: 20px 0 43px 0;
    }

    &__itembox > a {
        padding: 11px 26px;
    }

    &__logbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    &__link {
        text-decoration: none;
        color: index.$light_gray;
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        margin-bottom: 24px;
        font-weight: 500;
        letter-spacing: 5%;
    }

    &__bottom {
        color: index.$middle_gray;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 5%;
        margin: 20vh 0 60px 0;
    }
}