@use '../../../shared/ui/index.scss';
@include index.container();
@include index.title();
@include index.input();
@include index.button_light();

.task {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 66%;
        text-align: center;
        margin: 138px auto 0 auto;
    }

    &__wrapper > h3 {
        margin: 0 0 10px 0;
    }

    &__listbox {
        display: flex;
        justify-content: space-around;
        margin-bottom: 63px;
    }

    &__listbox > h4 {
        font-size: 24px;
        margin-bottom: 12px;
        color: index.$middle_gray;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form > input[type="text"] {
        margin-bottom: 20px;
    }

    &__form > input[type="submit"] {
        padding: 11px 66px;
    }

    &__tools {
        display: flex;
        justify-content: end;
        align-items: end;
        max-width: 100%;
        margin-bottom: 20px;
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 224px;
    }

    &__search input[type="text"]{
        margin-top: 0;
    }

    &__searchIcon {
        width: 20px;
        margin-right: 4px;
    }
}