@use '../../../../shared/ui/index.scss';
@include index.main_text();

.feedback {
    &__table_main {
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 15px 10px;
    }

    &__table_main > td {
        width: 15%;
    }

    &__table_main > td:nth-child(1) {
        width: 5%;
    }

    &__table_main > td:nth-child(3) {
        width: 50%;
    }

    &__button > img{
        width: 20px;
    }
}