@use '../../../../shared/ui/index.scss';
@include index.container();
@include index.section_title();
@include index.title();
@include index.main_text();

.demo {
    &__wrapper {
        margin-bottom: 120px;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__infobox {
        width: 33.5%;
        padding-top: 80px;
    }

    &__infobox > h3 {
        margin-bottom: 20px;
    }

    &__infobox > p {
        margin-bottom: 18px;
    }
}