@use '../../../../shared/ui/index.scss';
@include index.main_text();
@include index.input();

.user {
    &__table_main {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    &__table_main > td {
        word-break: break-all;
        padding: 15px 10px;
        width: 55%;
    }

    &__table_main > td:nth-child(1),
    &__table_main > td:nth-child(5) {
        width: 5%;
    }

    &__table_main > td:nth-child(4) {
        width: 15%;
    }

    &__table_main > td:nth-child(2) {
        width: 20%;
    }

    &__table_main > td > input[type="email"],
    &__table_main > td > input[type="password"],
    &__table_main > td > select {
        width: fit-content;
        margin-top: 0;
    }

    &__button > img{
        width: 20px;
    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
    }
}