@use '../../../shared/ui/index.scss';
@include index.title();
@include index.button_light();

.notfound {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto 0;
    }

    &__error {
        color: index.$light_gray;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        letter-spacing: 5%;
        text-align: center;
        font-size: 100px;
        margin-top: 32px;
    }

    &__wrapper > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 11px 44px;
        margin-top: 60px;
    }
}