@use '../../../../shared/ui/index.scss';
@include index.section_title();

.pros {
    &__wrapper {
        padding: 0 57px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }
}