@import '../../../styles/mixins';
@include container;
@include plask;
@include title;
@include main_text;
@include input;
@include button_light;

$light_gray: #E6E6E6;
$middle_gray: #6D6D6D;
$dark_gray: #252525;
$red: #D83A3A;

.profile {
    &__infoitem {
        display: flex;
        flex-direction: row;
        margin-bottom: 26px;
    }

    &__info {
        font-weight: 500;
    }
}